Assets/_FinalArt/Real[[:space:]]final/House/Oven/just_oven.fbx filter=lfs diff=lfs merge=lfs -text
Assets/_FinalArt/Real[[:space:]]final/House/Oven/oven_decorated.fbx filter=lfs diff=lfs merge=lfs -text
