Assets/_FinalArt/Real[[:space:]]final/House/Oven/just_oven.fbx filter=lfs diff=lfs merge=lfs -text
Assets/_FinalArt/Real[[:space:]]final/House/Oven/oven_decorated.fbx filter=lfs diff=lfs merge=lfs -text
Assets/_FinalArt/Real[[:space:]]final/Mask/mask.fbx filter=lfs diff=lfs merge=lfs -text
Assets/_FinalArt/Real[[:space:]]final/Mushrooms/mushrooms.fbx filter=lfs diff=lfs merge=lfs -text
